### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [32]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [33]:
total_players=len(purchase_data_df['SN'].unique())
players_df=pd.DataFrame({"Total Players":[total_players]})
players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
purchase_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [35]:
#average Price
avg_price=purchase_data_df['Price'].mean()
avg_price

3.0509871794871795

In [36]:
#Total number of Purchases
purchases=len(purchase_data_df['Purchase ID'].unique())
purchases

780

In [37]:
#Total number of Items
unique_items=len(purchase_data_df['Item ID'].value_counts())
unique_items

179

In [38]:
# Total Sum
total_price =purchase_data_df['Price'].sum()
total_price

2379.77

In [39]:
# # reformat price
# purchase_data_df["Price"] = purchase_data_df["Price"].map("${0:,.2f}".format)
# purchase_data_df

In [47]:
total_purch_analysis=pd.DataFrame({"Total Unique Items": [unique_items],
                                   "Average Price": [avg_price],
                                   "Total Purchases": [purchases],
                                   "Total Profit": [total_price]})
total_purch_analysis

   Total Unique Items  Average Price  Total Purchases  Total Profit
0                 179       3.050987              780       2379.77

In [48]:
total_purch_analysis.dtypes

Total Unique Items      int64
Average Price         float64
Total Purchases         int64
Total Profit          float64
dtype: object

In [50]:
# change Average Price to int
total_purch_analysis["Average Price"]=total_purch_analysis['Average Price'].astype(int)
#format dataframe
total_purch_analysis["Average Price"] = total_purch_analysis["Average Price"].map("${0:,.2f}".format)
total_purch_analysis["Total Profit"] = total_purch_analysis["Total Profit"].map("${0:,.2f}".format)
total_purch_analysis

   Total Unique Items Average Price  Total Purchases Total Profit
0                 179         $3.00              780    $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [54]:
#Group gender totals
grouped_gender_df = purchase_data_df.groupby(["Gender"])
gender_df = grouped_gender_df.nunique()
uniquegender=gender_df.loc[:, ["SN"]]
gender_analysis=uniquegender.rename(columns={"SN": "Total Count"})
pct_gender= gender_analysis["Total Count"]/[total_players]
gender_analysis["Percentage of Players"] = pct_gender
# format Percentage and sort
gender_analysis.sort_values("Total Count", ascending=False)
gender_analysis["Percentage of Players"] = gender_analysis["Percentage of Players"].map("{:,.2%}".format)
# final_gender_analysis=gender_analysis.sort_values("Total Count", ascending=False)
# final_gender_analysis
gender_analysis

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
Purch_val=purchase_data_df.groupby('Gender')["Price"].sum()

In [56]:
purch_Count = purchase_data_df.groupby('Gender').count()["Price"]

In [57]:
#average purchase price
avg_purch_price=purchase_data_df.groupby('Gender')["Price"].mean()
avg_purch_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [58]:
#Avg_tot_per_person
Avg_tot_pp = Purch_val / gender_analysis["Total Count"]

In [59]:
purchase_anal_gen=pd.DataFrame({
    "Purchase Count": purch_Count,
    "Average Purchase Price" : avg_purch_price,
    "Total Purchase Value": Purch_val,
    "Avg Total": Avg_tot_pp})
purchase_anal_gen["Average Purchase Price"] = purchase_anal_gen["Average Purchase Price"].map("${0:,.2f}".format) 
purchase_anal_gen["Total Purchase Value"] = purchase_anal_gen["Total Purchase Value"].map("${0:,.2f}".format) 
purchase_anal_gen["Avg Total"] = purchase_anal_gen["Avg Total"].map("${0:,.2f}".format) 

purchase_anal_gen

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [60]:
cleaned_purchase_data_df = purchase_data_df.drop_duplicates("SN")

In [61]:
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [0,9,14,19,24,29,34,39,100]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [62]:
#Create a  new column for age groups and then groupby Age Groups
cleaned_purchase_data_df["Age Groups"] = pd.cut(cleaned_purchase_data_df["Age"], bins, labels=groups)
age_df = cleaned_purchase_data_df.groupby(["Age Groups"])

<ipython-input-62-975c5bf69042>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_purchase_data_df["Age Groups"] = pd.cut(cleaned_purchase_data_df["Age"], bins, labels=groups)

In [63]:
total_age = gender_df["Age"].sum()

In [64]:
#Purchase Count
age_purchase = cleaned_purchase_data_df["Age Groups"].value_counts()

In [65]:
#Percentage of Users
age_percentage = age_purchase / total_players

In [66]:
age_demographics = pd.DataFrame({"Total Count": age_purchase,
                             "Percentage of Players":age_percentage})

In [67]:
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:,.2%}".format) 

age_demographics = age_demographics.reindex(["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])

age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [72]:
#Group_age
Purchase_age = purchase_data_df.copy()
bins = [0,9,14,19,24,29,34,39,100]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
Purchase_age["Age Groups"]=pd.cut(Purchase_age["Age"],bins, labels=groups)
Purchase_age
#Average Purchase Price
age_avg_price = Purchase_age.groupby("Age Groups").mean()["Price"]
age_avg_price
#Total Purchase Value
age_pur_val =  Purchase_age.groupby("Age Groups").sum()["Price"]
age_pur_val
# Purchase Count by Age
age_purch_count =  Purchase_age.groupby("Age Groups").count()["Price"]
age_purch_count
#Purchase Purchase per person
avg_tot_pur_pp = age_pur_val / age_demographics["Total Count"]
avg_tot_pur_pp

#Create new dataframe
purch_age_analysis = pd.DataFrame({"Purchase Count": age_purch_count,
                             "Average Purchase Price":age_avg_price,
                            "Total Purchase Value":age_pur_val,
                            "Average Total Purchase Per Person":avg_tot_pur_pp})
purch_age_analysis["Average Purchase Price"]=purch_age_analysis["Average Purchase Price"].map("${0:,.2f}".format)
purch_age_analysis["Total Purchase Value"]=purch_age_analysis["Total Purchase Value"].map("${0:,.2f}".format)
purch_age_analysis["Average Total Purchase Per Person"]=purch_age_analysis["Average Total Purchase Per Person"].map("${0:,.2f}".format)
purch_age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [76]:
#Sort by users
user_group = purchase_data_df.groupby(["SN"])
#pure count per user
user_count = user_group["Price"].count()
#Avg purchase price per user
avg_user_price = user_group["Price"].mean()
#total spent per user
user_tot_spent = user_group["Price"].sum()
total_spenders = pd.DataFrame({"Purchase Count": user_count,
                             "Average Purchase Price":avg_user_price,
                            "Total Purchase Value":user_tot_spent})
total_spenders = total_spenders.sort_values("Total Purchase Value",ascending=False)
total_spenders["Average Purchase Price"] = total_spenders["Average Purchase Price"].map("${0:,.2f}".format)
total_spenders["Total Purchase Value"] = total_spenders["Total Purchase Value"].map("${0:,.2f}".format)
total_spenders.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [77]:
grouped_items = purchase_data_df.set_index(["Item ID", "Item Name"])

In [78]:
grouped_games = grouped_items.groupby(level=["Item ID", "Item Name"])

In [79]:
#Find total spent per user
total_price_id = grouped_games["Price"].sum()

In [80]:
#Find avg spent per user
avg_price_id = grouped_games["Price"].mean()

In [81]:
#Find purchase count per user
count_id = grouped_games["Price"].count()

In [82]:
games_analysis_df = pd.DataFrame({ 
                         "Purchase Count":count_id,
                            "Average Purchase Price":avg_price_id,
                            "Total Purchase Value": total_price_id,
                            })
Most_pop_df = games_analysis_df.sort_values("Purchase Count",ascending=False)
Most_pop_df["Average Purchase Price"] = Most_pop_df["Average Purchase Price"].map("${0:,.2f}".format) 
Most_pop_df["Total Purchase Value"] = Most_pop_df["Total Purchase Value"].map("${0:,.2f}".format)
Most_pop_df.head(5)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [87]:
#Sprt abpve table on purchase value
Most_prof_df = games_analysis_df.sort_values("Total Purchase Value",ascending=False)
Most_prof_df["Average Purchase Price"] = Most_prof_df["Average Purchase Price"].map("${0:,.2f}".format) 
Most_prof_df["Total Purchase Value"] =Most_prof_df["Total Purchase Value"].map("${0:,.2f}".format)

Most_prof_df.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

# My Observations

In [ ]:
The most profitable items aren't always the most popular, probably contributed to the cost of the items.
20-24 year olds make the most game purchases, accounting for 47% of total purchases.however they are 3rd in total purchase avg per person. while players less than 10 year olds spend the most per item.
Items pertaining to females may cost more money then males, probably because to make up for the significantly less assumption that females will purchase items.